<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专业中文社区</title>
    {% block style %}
        <link rel="stylesheet" href="/static/css/style.css">
        <style>
            .topic_title {
                margin-left: 6px;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block header %}
    <div class='navbar'>
        <div class='navbar-inner'>
            <div class='container'>
                <a class='brand' href='/'>
                    <img src="/static/images/g.png" alt="">
                </a>
                <form id='search_form' class='navbar-search' action="search">
                    <input type='text' id='q' name='q' class='search-query span3' value='' placeholder="输入标题搜索"/>
                </form>
                <ul class='nav pull-right'>
                    <li>
                        <a href='/topic'>首页</a>
                    </li>

                    <li>
                        <a href='/'>通知</a>
                    </li>

                    {% if user %}
                        <li>
                            <a href='/user'>个人主页</a>
                        </li>
                        <li>
                            <a href='/user/setting'>个人设置</a>
                        </li>
                        <li>
                            <a href='/logout'>退出</a>
                        </li>

                    {% else %}
                        <li>
                            <a href='/register'>注册</a>
                        </li>
                        <li>
                            <a href='/login'>登录</a>
                        </li>
                    {% endif %}
                </ul>
                <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="main">
        {% block sidebar %}
            <div id="sidebar">
            {% block sidebar_top %}
                {% if user %}
                    <div class="panel">
                        <div class="header">
                            <span class="col_fade">个人信息</span>
                        </div>
                        <div class="inner">
                            <div class="user_card">
                                <div>
                                    <a class="user_avatar" href="/user/gua">
                                        <img src="{{ user.user_image }}">
                                    </a>

                                    <span class="user_name">
                                        <a class="dark" href="/user/gua">
                                            {{ user.username }}
                                        </a>
                                    </span>

                                    <div class="board clearfix">
                                        <div class="floor">
                                <span class="big">
                                    个性签名
                                    <br>
                                    "{{ user.signature }}"
                                </span>
                                        </div>
                                    </div>

                                    {% if bid %}
                                        <div class="board clearfix">
                                            <a href="/topic/new?board_id={{ bid }}" class="create_topic_btn">
                                                <span class="span-success">发布话题</span>
                                            </a>

                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="panel">
                        <div class='inner'>
                            <p>专业中文社区</p>
                            <div>
                                您可以
                                <a href='/login'>登录</a>
                                或
                                <a href='/register'>注册</a>
                                <a href="/auth/github">
                            <span class="span-info">
                                通过 GitHub 登录
                            </span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            {% block sidebar_sponsor %}
                <div class='panel'>
                    <div class='inner ads'>
                        <a href="http://www.buka.tv/?cyt=4" target="_blank" class="banner sponsor_outlink"
                           data-label="buka">
                            <img src="//dn-cnode.qbox.me/FrxtdO3xdnec18ucBReJlJR8fcqM">
                        </a>
                        <div class="sep10"></div>
                        <a href="https://alinode.aliyun.com/?ref=cnode" target="_blank" class="banner sponsor_outlink"
                           data-label="alinode">
                            <img src="//dn-cnode.qbox.me/Fn4D6BhOTz1IswvmzeZ1q7QW1ls_">
                        </a>
                        <div class="sep10"></div>
                        <a href="http://www.ucloud.cn/site/active/gift.html?utm_source=cnodejs&utm_medium=content_pic_pc&utm_campaign=multicloud&utm_content=gift&ytag=cnodejs"
                           target="_blank" class="banner sponsor_outlink"
                           data-label="ucloud-banner">
                            <img src="//dn-cnode.qbox.me/FgQS-GQDfqwAD_v0NuhyYUOUk5MG">
                        </a>
                    </div>
                </div>

                <div class='panel'>
                    <div class='header'>
                        <span class='col_fade'>友情社区</span>
                    </div>
                    <div class='inner'>
                        <ol class="friendship-community">
                            <li>
                                <a href="https://ruby-china.org/" target="_blank">
                                    <img src="//o4j806krb.qnssl.com/public/images/ruby-china-20150529.png">
                                </a>
                            </li>
                            <div class="sep10"></div>
                            <li>
                                <a href="http://golangtc.com/" target="_blank">
                                    <img src="//o4j806krb.qnssl.com/public/images/golangtc-logo.png">
                                </a>
                            </li>
                            <div class="sep10"></div>
                            <li>
                                <a href="http://phphub.org/" target="_blank">
                                    <img src="//o4j806krb.qnssl.com/public/images/phphub-logo.png">
                                </a>
                            </li>
                            <div class="sep10"></div>
                            <li>
                                <a href="https://testerhome.com/" target="_blank">
                                    <img src="//dn-cnode.qbox.me/FjLUc7IJ2--DqS706etPQ1EGajxK">
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
        </div>

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <div id='backtotop'>回到顶部</div>
    <div id='footer'>
        <div id="footer_main">
            <p style="text-align: center">Copyright @ 2000-2018 Leung 专业中文社区</p>
            <p style="text-align: center">All Rights Reserved</p>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
{#    <script src="/static/js/utils.js"></script>#}
{#    <script src="/static/js/script.js"></script>#}
    <script src="/static/js/backtotop.js"></script>
{% endblock %}
</body>
</html>
