{% extends "/base.html" %}
{% block content %}
<div id="main">
    <div id="content">
        <div class='panel'>
            <div class='header topic_header'>
                <span class="topic_full_title">
                    <span class='put_top'>
                        {{ topic.board().title }}
                    </span>
                    <span style="margin-left: 6px;">
                        {{ topic.title }}
                    </span>
                </span>
                    <div class="changes">
                <span>
                    发布于 
                    {{ topic.timestamp() }}
                </span>
                <span>
                    作者
                    {{ topic.user().username }}
                </span>
                <span>
                浏览次数
                {{ topic.views }}
                </span>
                <span>
                来自
                {{ topic.board().title }}
                </span>
                </div>
            </div>

            <div class='inner topic'>
                <div class='topic_content'>
                    <div class="markdown-text">
                        {{ topic.content|safe }}
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->

        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>
                    <!-- 过滤器 -->
                    {{ topic.replies() | count }} 回复
                </span>
            </div>
            {% for r in topic.replies() %}
            <div class='cell reply_area reply_item'>
                <div class='author_content'>
                    <a href="/" class="user_avatar">
                        <img src="{{ r.user().user_image }}" alt="">
                    </a>
                    <div class='user_info'>
                        <a class='dark reply_author'>
                            {{ r.user().username }}
                        </a>
                        <a class="reply_time">
                            {{ loop.index }}楼
                             • {{ r.fromnow() }}
                        </a>
                    </div>
                    <div class='user_action'>
                        <span>
                            <i class="fa up_btn
                              fa-thumbs-o-up
                              invisible" title="喜欢"></i>
                            <span class="up-count">
                            </span>
                        </span>
                    </div>
                </div>
                <div class='reply_content from-leiwei1991'>
                    <div class="markdown-text">
                        {{ r.content }}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--</div>-->
        </div>

        {% if user %}
        <div class="panel">
            <div class="header">
                <span class="col_fade">添加回复</span>
            </div>
            <div class="inner reply">
                <form id="reply_form" action="{{ url_for('reply.add') }}" method="post">
                    <div class="markdown_editor in_editor">
                        <div class="markdown_in_editor">
                            <textarea class='editor' name='content' rows='20' placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
                            <div class="editor_buttons">
                                <input class="span-primary submit_btn" type="submit" data-loading-text="回复中.." value="回复">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="topic_id" id="_csrf" value="{{ topic.id }}">
                </form>
            </div>
        </div>
    {% endif %}
    </div>

    </div>
</div>
{% endblock %}
