{% extends "base.html" %}
{% block content %}
    <div id="content">
        <div class="panel">
            <div id="tabSwitch" class="header">
                <a href="/topic" class="topic-tab">
                    全部
                </a>
                {% for b in bs %}
                <a href="/topic?board_id={{ b.id }}" class="topic-tab">
                    {{ b.title }}
                </a>
                {% endfor %}
            </div>

            <div class="inner no-padding">
                <div class="topic_list">
                    {% for topic in ts %}
                    <div class="cell">
                        <a class="user_avatar pull-left">
                            <img src="{{ topic.user().user_image }}">
                        </a>

                        <span class="reply_count pull-left">
                            <span class="count_of_replies" title="回复数">
                                {{ topic.replies() | count }}
                            </span>
                            <span class="count_seperator">/</span>
                            <span class="count_of_visits" title='点击数'>
                                {{ topic.views }}
                            </span>
                        </span>

                        <div class="topic_title_wrapper">
                            <span class='put_top'>
                                {{ topic.board().title }}
                            </span>

                            <a class="topic_title" href="{{ url_for('topic.detail', id=topic.id) }}">
                                {{ topic.title }}
                            </a>
                            <!--<span>{{ topic.replies() | count }} / {{ topic.views }}</span>-->
                            <!--<a class="topic_title" href="{{ url_for('topic.delete', id=topic.id, token=token) }}">-->
                            <!--删除-->
                            <!--</a>-->


                        <span class="last_time pull-right">
                            <span>
                                {{ topic.fromnow() }}
                            </span>
                            <!-- <span class="last_active_time">

                            </span> -->
                        </span>

                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!--分页-->
                {% if ps %}
                <div class='pagination' current_page='1'>
                    <ul>
                        <li>
                            <a href="#">
                                «
                            </a>
                        </li>
                        {% for p in ps %}
                        <li>
                            <a href="{{ url_for('.index', page_id=p) }}">
                                {{ p }}
                            </a>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="#">
                                »
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
<!--<script>-->
<!--(function() {-->
<!--var editor = new Editor();-->
<!--editor.render($('.editor')[0]);-->
<!--})();-->
<!--</script>-->
