{% extends "base.html" %}
{% block content %}
    <div id="main">
        <div id="content">
            <div class="panel">
                <div class="inner post">
                    <form id="create_topic_form" method="post" action="{{ url_for('.add') }}">
                        <fieldset>
                            <textarea autofocus class='span9' id='title' name='title' rows='1'
                                      placeholder="标题字数 6 字以上"></textarea>

                            <span class="tab-selector">选择版块：</span>
                            <select name="board_id" id="board" required>
                                {% for b in bs %}
                                    {% if bid == b.id %}
                                        <option value="{{ b.id }}" selected>{{ b.title }}</option>
                                    {% else %}
                                        <option value="{{ b.id }}">{{ b.title }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                            <div class='markdown_editor in_editor'>
                                <textarea id="text-input" class='editor' rows='20' oninput="this.editor.update()"
                                          placeholder="文章支持 Markdown 语法, 请注意标记代码"></textarea>
                                <textarea class="md-preview" name='content' style="display: none"></textarea>

                                <div class='editor_buttons'>
                                    <input type="submit" class='span-primary submit_btn' data-loading-text="提交中"
                                           value="提交">
                                </div>
                            </div>
                    </div>
                    <input type="hidden" name="token" value="{{ token }}">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/markdown.js/0.5.0/markdown.min.js"></script>
    <script>
        function Editor(input, preview) {
            this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }

        var $ = function (sel) {
            return document.querySelector(sel)
        };
        new Editor($("#text-input"), $(".md-preview"));
    </script>
{% endblock %}
