{% extends "base.html" %}
{% block content %}
    <div id="main">
        <div id="content">
            <div class="panel">
                <div class="header">
                    <ul class="breadcrumb">
                        <li><a href="/user/">主页</a><span class="divider">/</span></li>
                    </ul>
                </div>
                <div class="inner userinfo">
                    <div class="user_big_avatar">
                        <img src="{{ user.user_image }}">
                    </div>
                    <a class="dark">
                        {{ user.username }}
                    </a>
                    <p class="col_fade">
                        注册时间：
                        {{ user.fromnow() }}
                    </p>
                </div>
            </div>

            <div class="panel">
                <div class="header">
                    <span class="col_fade">最近创建的话题</span>
                </div>

                <div class="inner no-padding">
                    <div class="topic_list">
                        {% for topic in ts %}
                            <div class="cell">
                                <!--<a class="user_avatar pull-left">-->
                                <!--<img src="{{ topic.user().user_image }}" title="avatar"/>-->
                                <!--</a>-->
                                <span class="reply_count pull-left">
                                <span class="count_of_replies" title="回复数">
                                    {{ topic.replies() | count }}
                                </span>
                                <span class="count_seperator">/</span>
                                <span class="count_of_visits" title='点击数'>
                                    {{ topic.views }}
                                </span>
                            </span>

                                <div class="topic_title_wrapper">
                                <span class='put_top'>
                                    {{ topic.board().title }}
                                </span>

                                    <a class="topic_title" href="{{ url_for('topic.detail', id=topic.id) }}">
                                        {{ topic.title }}
                                    </a>
                                    <!--<span>{{ topic.replies() | count }} / {{ topic.views }}</span>-->
                                    <a class="topic_title"
                                       href="{{ url_for('topic.delete', id=topic.id, token=token) }}">
                                        删除
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="header">
                    <span class="col_fade">最近参与的话题</span>
                </div>

                <div class="inner no-padding">
                    <div class="topic_list">
                        {% for topic in ts2 %}
                            <div class="cell">
                                <!--<a class="user_avatar pull-left">-->
                                <!--<img src="{{ topic.user().user_image }}" title="avatar"/>-->
                                <!--</a>-->
                                <span class="reply_count pull-left">
                                <span class="count_of_replies" title="回复数">
                                    {{ topic.replies() | count }}
                                </span>
                                <span class="count_seperator">/</span>
                                <span class="count_of_visits" title='点击数'>
                                    {{ topic.views }}
                                </span>
                            </span>
                                <div class="topic_title_wrapper">
                                <span class='put_top'>
                                    {{ topic.board().title }}
                                </span>
                                    <a class="topic_title" href="{{ url_for('topic.detail', id=topic.id) }}">
                                        {{ topic.title }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
