{% extends "base.html" %}
{% block main %}
<div id='main'>
    <div id='sidebar'>
        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>关于</span>
            </div>
            <div class='inner'>
                <p>专业中文社区</p>

                <p>在这里你可以：</p>
                <ul>
                    <li>向别人提出你遇到的问题</li>
                    <li>帮助遇到问题的人</li>
                    <li>分享自己的知识</li>
                    <li>和其它人一起进步</li>
                </ul>
            </div>
        </div>
    </div>

    <div id='content'>
        <div class='panel'>
            <div class='header'>
                <ul class='breadcrumb'>
                    <li><a href='/'>主页</a><span class='divider'>/</span></li>
                    <li class='active'>注册</li>
                </ul>
            </div>
            <div class='inner'>
                <form id='signin_form' class='form-horizontal' action='/register' method='post'>
                    <input style="display:none">
                    <div class='control-group'>
                        <label class='control-label' for='name'>用户名</label>

                        <div class='controls'>
                            <input class='input-xlarge' id='name' name='username' placeholder="请输入用户名" size='30' type='text'/>
                        </div>
                    </div>
                    <div class='control-group'>
                        <label class='control-label' for='pass'>密码</label>

                        <div class='controls'>
                            <input class='input-xlarge' id='pass' name='password' placeholder="请输入密码" size='30' type='password'/>
                        </div>
                    </div>
                    <input type='hidden' name='_csrf' value='6l1W43XW-lsaW-Qm9jNepZYde-30F_zPVE-o'/>

                    <div class='form-actions'>
                        <input type='submit' class='span-primary' value='注册'/>
                        <a href="/auth/github">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}