{% extends "base.html" %}
{% block content %}
<div id="main">
{#    <div id="sidebar">#}
{#        <div class="panel">#}
{#            <div class="header">#}
{#                <span class="col_fade">个人信息</span>#}
{#            </div>#}
{#            <div class="inner">#}
{#                <div class="user_card">#}
{#                    <div>#}
{#                        <a class="user_avatar" href="/user/gua">#}
{#                            <img src="{{ user.user_image }}" alt="">#}
{#                        </a>#}
{#                        <span class="user_name"><a class="dark" href="/user/gua">{{ user.username }}</a></span>#}
{#                        <div class="board clearfix">#}
{#                            <div class="floor">#}
{#                                <span class="big">签名:</span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="space clearfix"></div>#}
{#                        <span class="signature">{{ user.signature }}</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="panel">#}
{#            <div class="inner">#}
{#                <a href="/topic/new?board_id=1" class="create_topic_btn">#}
{#                    <span class="span-success">发布话题</span>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div id="content">
        <div class="panel">
            <div class="header">
                <ul class="breadcrumb">
                    <li><a href="/user/">主页</a><span class="divider">/</span></li>
                    <li class="active">设置</li>
                </ul>
            </div>
            <div class="inner">
                <form id="setting_form" class="form-horizontal" action="/user/setting" method="post">
                    <div class="control-group">
                        <label class="control-label" for="name">用户名</label>
                        <div class="controls">
                            <input class="input-xlarge" id="name" name="username" value="{{ user.username }}" disabled size="30" type="text">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="password">密码</label>
                        <div class="controls">
                            <input class="input-xlarge" id="password" name="password" placeholder="请输入新密码" size="30" type="password">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="signature">个性签名</label>
                        <div class="controls">
                            <input class="input-xlarge" id="name" name="signature" value="{{ user.signature }}" size="30" type="text">
                        </div>
                    </div>

                    <input type="hidden" name="token" value="{{ token }}">

                    <div class="form-actions">
                        <input type="submit" class="span-primary submit_btn" data-loading-text="保存中.." value="保存设置">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    $(document).ready(function() {
        $('.follow_btn').click(function() {
            var $me = $(this);
            var action = $me.attr('action');
            var params = {
                follow_id: '5996badeee602e88524b439a',
                _csrf: 'N6RFcJIO-hChj9Mrclu6xbIZ8abPuwE70K-I'
            };
            $.post('/user/' + action, params, function(data) {
                if (data.status === 'success') {
                    var $btns = $('.follow_btn');
                    if (action === 'follow') {
                        $btns.html('取消关注');
                        $btns.attr('action', 'un_follow');
                    } else {
                        $btns.html('加入关注');
                        $btns.attr('action', 'follow');
                    }
                    $btns.toggleClass('btn-success');
                }
            }, 'json');
        });
    });
</script> -->
{% endblock %}
